.vscode/settings.json
*/Images
*/*/Airplanes_Annotations
R-CNN/ieeercnn_vgg16_1.h5
*/hymenoptera_data
*/*/VOCtrainval_06-Nov-2007
*/dataset
*/Dataset
*/*/VOCtrainval_11-May-2012
R-CNN/PASCAL VOC 2012 R-CNN/Dataset